*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "work sans";
}
html,body{
    height: 100%;
    width:100%;
    background-color: rgb(231, 227, 222);
}
main{
    height:100%;
    width:100%;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 45% 55%;
}
.items{
    /* background-color:yellow;
    border:2px solid #000; */
    padding-top:80px;
    padding-left:50px;
}

#heading h1{
    font-size: 8vw;
    font-weight: 500;
    line-height: 7vw;
}
.color{
    padding:5px;
    /* background-color:green; */
    width:fit-content;
    border:1px solid #000;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:8px;
    border-radius:20px;
    margin-bottom:30px ;
}
.color1{
    height:12px;
    width:12px;
    border-radius:50%;
    background-color:rgb(42, 22, 22);
}
.color2{
    height:12px;
    width:12px;
    border-radius:50%;
    background-color:rgb(27, 21, 21);
}
#details{
    padding-bottom:50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* gap:20px; */
}
#details p{
    width:60%;
    text-align: justify;
}
#images{
    grid-row: 1/3;
    grid-column:2/-1;
    padding-top:150px;
    position:relative; 
}
#images #price-rating{
    width:60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#images img{
    width:60%;
    height: 96%;
    object-fit: cover;
    padding-top:20px;
}
#circle{
    height: 100px;
    width:100px;
    background-color:#201e1e;
    border-radius: 50%;
    position:absolute;
    left:56%;
    top:40%;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
#text{
    font-size: 25px;
    position:absolute;
    transform-origin: 0 0;
    rotate: -90deg;
    left:-1%;
    top:90%;
}